<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/main.css">
  <title>500</title>
</head>

<body>
  <!-- Include navbar -->
  <%- include('partials/navbar', { page: "" }) %>

  <!-- 500 message for user using Hero component-->
  <div class="container mx-auto">
    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">500 Internal Server Error</h1>
          <p class="py-6"><%= message %></p>
        </div>
      </div>
    </div>
</body>

</html>